<div class="blog-card">
    <div class="meta">
      <div class="photo-user"></div>
    </div>
    <div class="description">
      <h1>Cadastro de Cliente</h1>
      <p>
		A plataforma de terceirização de projetos de software permite que programadores cadastrem clientes de maneira eficiente e intuitiva. Com foco no usuário, eles podem registrar detalhes de contato, requisitos do projeto e histórico de comunicações. A plataforma simplifica a experiência, permitindo que os programadores se concentrem na entrega de soluções de alta qualidade.</p>
    </div>
  </div>
  <div class="blog-card alt">
    <div class="meta">
      <div class="photo-comp"></div>
    </div>
    <div class="description">
      <h1>Cadastro de Empresa</h1>
      <p>
		Uma plataforma simplifica o cadastro de empresas parceiras para terceirização de projetos de software. Os programadores podem detalhar perfis, requisitos de projeto e preferências de colaboração. Com ferramentas avançadas de busca, encontram-se rapidamente empresas que atendam às demandas dos clientes, facilitando colaboração eficiente e resultados excepcionais.</p>
    </div>
  </div>
  <div class="blog-card">
    <div class="meta">
      <div class="photo-serv"></div>
    </div>
    <div class="description">
      <h1>Cadastro de Serviço</h1>
      <p> 
		A plataforma simplifica a terceirização de projetos de software com um cadastro abrangente de serviços. Os programadores detalham os serviços oferecidos, incluindo linguagens de programação e competências necessárias, facilitando a localização rápida dos serviços ideais para atender às demandas dos clientes.</p>
    </div>
  </div>
  <div class="blog-card alt">
    <div class="meta">
      <div class="photo-money"></div>
    </div>
    <div class="description">
      <h1>Cadastro de Gastos</h1>
      <p>A plataforma oferece relatórios de gastos para monitorar os custos dos projetos de software. Com análise integrada, identifica e otimiza áreas de despesas, garantindo gestão financeira eficaz e sucesso na terceirização dos projetos.</p>
    </div>
  </div>