<div id="layoutSidenav_content">
    <app-navbar></app-navbar>
    <app-space></app-space>
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Clientes</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active"><div class="consultaw">Consulta</div></li>
            </ol>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
                        {{ mensagemSucesso }}
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
                        {{ mensagemErro }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <button class="btn btn-primary" (click)="novoCadastro()">
                        <fa-icon [icon]="faPlus"></fa-icon> Novo
                    </button>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Nome" [(ngModel)]="filtroNome" (input)="filtrarClientes()">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th (click)="ordenar('id')">ID <fa-icon [icon]="faFilter" *ngIf="orderBy === 'id'"></fa-icon></th>
                                    <th>Nome</th>
                                    <th>CPF</th>
                                    <th>Email</th>
                                    <th>Telefone</th>
                                    <th>Data Cadastro</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cliente of clientesFiltrados">
                                    <td>{{cliente.id}}</td>
                                    <td>{{cliente.nome}}</td>
                                    <td>{{cliente.cpf}}</td>
                                    <td>{{cliente.email}}</td>
                                    <td>{{cliente.telefone}}</td>
                                    <td>{{cliente.dataCadastro}}</td>
                                    <td>
                                        <button class="btn btn-primary btn-sm" routerLink="/clientes/{{cliente.id}}">
                                            <fa-icon [icon]="faPencil"></fa-icon> Editar
                                        </button>
                                        <span style="margin: 0 5px;"></span>
                                        <button class="btn btn-danger btn-sm" (click)="preparaDelecao(cliente)"
                                            data-toggle="modal" data-target="#modalDelecao">
                                            <fa-icon [icon]="faTrash"></fa-icon> Excluir
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="modalDelecao" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>Confirmção</h4>
                        </div>
                        <div class="modal-body" *ngIf="clienteSelecionado">
                            Corfima a deleção do(a) Cliente {{ clienteSelecionado.nome }}?
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" data-dismiss="modal" (click)="deletarCliente()">Confirmar</button>
                            <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
