<section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
        </div>

        <div class="cd-timeline-content">
            <h2>LALIG4</h2>
    <div class="timeline-content-info">
      <span class="timeline-content-info-title">
        <i class="fa fa-certificate" aria-hidden="true"></i>
        Projeto em Java
      </span>
      <span class="timeline-content-info-date">
        <i class="fa fa-calendar-o" aria-hidden="true"></i>
        2022
      </span>
    </div>
            <p>"O Lalig4 marcou o início da jornada criativa da nossa empresa. Baseado no clássico jogo de tabuleiro Lig4, este projeto pioneiro foi desenvolvido em Java, combinando habilidades de programação com a diversão do jogo estratégico!"</p>
    <ul class="content-skills">
    <li>Java</li>
    </ul>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
        </div> <!-- cd-timeline-img -->

      
        <div class="cd-timeline-content">
            <h2>FORZA</h2>
    <div class="timeline-content-info">
      <span class="timeline-content-info-title">
        <i class="fa fa-certificate" aria-hidden="true"></i>
        Projeto em Java
      </span>
      <span class="timeline-content-info-date">
        <i class="fa fa-calendar-o" aria-hidden="true"></i>
       2023 
      </span>
    </div>
            <p>"O Forza marcou outro marco em nossa empresa, sendo um projeto de gerenciamento de custos veiculares desenvolvido em Java com a biblioteca Swing. Este projeto demonstrou nossa capacidade de criar soluções práticas e funcionais para questões do mundo real, combinando tecnologia Java com uma interface gráfica intuitiva para facilitar o gerenciamento de custos veiculares."</p>
    <ul class="content-skills">
    <li>Java</li>
    </ul>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
        </div> <!-- cd-timeline-img -->

        
        <div class="cd-timeline-content">
            <h2>Forza 2.0</h2>
    <div class="timeline-content-info">
      <span class="timeline-content-info-title">
        <i class="fa fa-certificate" aria-hidden="true"></i>
        Projeto em Java
      </span>
      <span class="timeline-content-info-date">
        <i class="fa fa-calendar-o" aria-hidden="true"></i>
        2023 
      </span>
    </div>
            <p>"Nosso terceiro projeto foi uma evolução natural do Forza, agora incorporando um banco de dados MySQL e algumas funcionalidades adicionais. Essa integração com o banco de dados permitiu um gerenciamento mais eficiente e escalável dos dados veiculares. Além disso, novas funcionalidades foram implementadas para melhorar a experiência do usuário e oferecer mais recursos. Essa iteração do projeto solidificou ainda mais nossa expertise em desenvolvimento de software e nossa capacidade de adaptação às necessidades do mercado."</p>
    <ul class="content-skills">
    <li>Java</li>
    <li>MySQL</li>
    </ul>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
        </div> <!-- cd-timeline-img -->

        
        <div class="cd-timeline-content">
            <h2>Horizon</h2>
    <div class="timeline-content-info">
      <span class="timeline-content-info-title">
        <i class="fa fa-certificate" aria-hidden="true"></i>
        Projeto Web
      </span>
      <span class="timeline-content-info-date">
        <i class="fa fa-calendar-o" aria-hidden="true"></i>
       2024 
      </span>
    </div>
            <p>"O Horizon representou um marco significativo para nossa empresa, sendo nosso primeiro projeto web desenvolvido com Angular e Spring Boot. Ele foi concebido para auxiliar programadores no gerenciamento de projetos terceirizados de outras empresas. Com uma combinação de tecnologias modernas, o Horizon ofereceu uma plataforma robusta e intuitiva para coordenar eficientemente os aspectos técnicos e administrativos desses projetos. Essa iniciativa demonstrou nosso compromisso em oferecer soluções inovadoras e práticas para a comunidade de desenvolvedores, ao mesmo tempo em que solidificou nossa experiência no desenvolvimento de aplicativos web escaláveis e funcionais."</p>
    <ul class="content-skills">
    <li>Angular</li>
    <li>Springboot</li>
    <li>SQL</li>
    </ul>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
        </div> 

       
        <div class="cd-timeline-content">
            <h2>Aplicativo Mobile</h2>
    <div class="timeline-content-info">
      <span class="timeline-content-info-date">
        <i class="fa fa-calendar-o" aria-hidden="true"></i>
        Em breve: 2024
      </span>
    </div>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
</section> <!-- cd-timeline -->