/*=============== BASE ===============*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body,
button,
input,
textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body{
    margin: var(--header-height) 0 0 0;
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .4s; // For animation dark mode
}

button{
    cursor: pointer;
    border: none;
    outline: none;
}

h1,h2,h3{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);  
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*=============== ABOUT ===============*/
.about{
    &__container{
        row-gap: 2rem;
    }
    &__img{
        width: 280px;
        justify-self: center;
    }
    &__title{
        margin-bottom: var(--mb-1);
    }
    &__description{
        margin-bottom: var(--mb-2);
    }
    &__details{
        display: grid;
        row-gap: 1rem;
        margin-bottom: var(--mb-2-5);

        &-description{
            display: inline-flex;
            column-gap: .5rem;
            font-size: var(--small-font-size);
        }
        &-icon{
            font-size: 1rem;
            color: var(--first-color);
            margin-top: .15rem;
        }
    }
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .home{
        &__img{
            width: 180px;
        }
        &__title{
            font-size: var(--h1-font-size);
        }
    }

    .steps{
        &__bg{
            padding: 2rem 1rem;
        }
        &__card{
            padding: 1.5rem;
        }
    }

    .product__container{
        grid-template-columns: .6fr;
        justify-content: center;
    }
}

/* For medium devices */
@media screen and (min-width: 576px){
    .steps{
        &__container{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .product{
        &__description{
            padding: 0 4rem;
        }
        &__container{
            grid-template-columns: repeat(2, 170px);
            justify-content: center;
            column-gap: 5rem;
        }
    }

    .footer__subscribe{
        width: 400px;
    }
}

@media screen and (min-width: 767px){
    body{
        margin: 0;
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 3rem;

        &__toggle,
        &__close{
            display: none;
        }
        &__menu{
            margin-left: auto;
        }
        &__list{
            flex-direction: row;
            column-gap: 3rem;
        }
    }
    
    .home__container,
    .about__container,
    .questions__container,
    .contact__container,
    .footer__container{
        grid-template-columns: repeat(2, 1fr);
    }

    .home{
        padding: 10rem 0 5rem;
        
        &__container{
            align-items: center;
        }
        &__img{
            width: 280px;
            order: 1;
        }
        &__social{
            top: 30%;
        }
    }

    .questions__container{
        align-items: flex-start;
    }

    .footer{
        &__container{
            column-gap: 3rem;
        }
        &__subscribe{
            width: initial;
        }
    }
}

/* For large devices */
@media screen and (min-width: 992px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    .section{
        padding: 8rem 0 1rem;

        &__title, 
        &__title-center{
            font-size: var(--h1-font-size);
        }
    }

    .home{
        padding: 13rem 0 5rem;

        &__img{
            width: 350px;
        }
        &__description{
            padding-right: 7rem;
        }
    }

    .about__img{
        width: 380px;
    }

    .steps{
        &__container{
            grid-template-columns: repeat(3, 1fr);
        }
        &__bg{
            padding: 3.5rem 2.5rem;
        }
        &__card-title{
            font-size: var(--normal-font-size);
        }
    }

    .product{
        &__description{
            padding: 0 16rem;
        }
        &__container{
            padding: 4rem 0;
            grid-template-columns: repeat(3, 185px);
            gap: 4rem 6rem;
        }
        &__img{
            width: 160px;
        }
        &__circle{
            width: 110px;
            height: 110px;
        }
        &__title,
        &__price{
            font-size: var(--normal-font-size);
        }
    }

    .questions{
        &__container{
            padding: 1rem 0 4rem;
        }
        &__title{
            text-align: initial;
        }
        &__group{
            row-gap: 2rem;
        }
        &__header{
            padding: 1rem;
        }
        &__description{
            padding: 0 3.5rem 2.25rem 2.75rem;
        }
    }

    .footer{
        &__logo{
            font-size: var(--h3-font-size);
        }
        &__container{
            grid-template-columns: 1fr .5fr .5fr .5fr;
        }
        &__copy{
            margin: 7rem 0 2rem;
        }
    }
}

@media screen and (min-width: 1200px){
    .home{
        &__social{
            right: -3rem;
            row-gap: 4.5rem;

            &-follow{
                font-size: var(--small-font-size);

                &::after{
                    width: 1.5rem;
                    right: -60%;
                }
            }
            &-link{
                font-size: 1.15rem;
            }
        }
    }

    .about__container{
        column-gap: 7rem;
    }

    .scrollup{
        right: 3rem;
    }
}/*=============== BUTTONS ===============*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .3s;

    &:hover .button__icon{
        transform: translateX(.25rem);
    }

    &:hover{
        background-color: var(--first-color-alt);
    }

    &__icon{
        transition: .3s;
    }

    &--flex{
        display: inline-flex;
        align-items: center;
        column-gap: .5rem;
    }

    &--link{
        color: var(--first-color);
        font-weight: var(--font-medium);

        &:hover .button__icon{
            transform: translateX(.25rem);
        }
    }
}/*=============== CONTACT ===============*/
.contact{
    &__container{
        row-gap: 3.5rem;
    }
    &__data{
        display: grid;
        row-gap: 2rem;
    }
    &__subtitle{
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
        color: var(--text-color);
        margin-bottom: var(--mb-0-5);
    }
    &__description{
        display: inline-flex;
        align-items: center;
        column-gap: .5rem;
        color: var(--title-color);
        font-weight: var(--font-medium);
    }
    &__icon{
        font-size: 1.25rem;
    }
    &__inputs{
        display: grid;
        row-gap: 2rem;
        margin-bottom: var(--mb-2-5);
    }
    &__content{
        position: relative;
        height: 3rem;
        border-bottom: 1px solid var(--text-color-light);
    }
    &__input{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 1rem 1rem 1rem 0;
        background: none;
        color: var(--text-color);
        border: none;
        outline: none;
        z-index: 1;

        &:focus + .contact__label{
            top: -.75rem;
            left: 0;
            font-size: var(--smaller-font-size);
            z-index: 10;
        }
        &:not(:placeholder-shown).contact__input:not(:focus) + .contact__label{
            top: -.75rem;
            font-size: var(--smaller-font-size);
            z-index: 10;
        }
    }
    &__label{
        position: absolute;
        top: .75rem;
        width: 100%;
        font-size: var(--small-font-size);
        color: var(--text-color-light);
        transition: .3s;
    }
    &__area{
        height: 7rem;

        & textarea{
            resize: none;
        }
    }
}/*=============== FOOTER ===============*/
.footer{
    &__container{
        row-gap: 3rem;
    }
    &__logo{
        display: inline-flex;
        align-items: center;
        column-gap: .5rem;
        color: var(--title-color);
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: -1px;
        margin-bottom: var(--mb-2-5);
        transition: .3s;

        &:hover{
            color: var(--first-color);
        }

        &-icon{
            font-size: 1.15rem;
            color: var(--first-color);
        }
    }
    &__title{
        font-size: var(--h3-font-size);
        margin-bottom: var(--mb-1-5);
    }
    &__subscribe{
        background-color: var(--first-color-lighten);
        padding: .75rem;
        display: flex;
        justify-content: space-between;
        border-radius: .5rem;
    }
    &__input{
        width: 70%;
        padding: 0 .5rem;
        background: none;
        color: var(--text-color);
        border: none;
        outline: none;
    }
    &__button{
        padding: 1rem;
    }
    &__data{
        display: grid;
        row-gap: .75rem;
    }
    &__information{
        font-size: var(--small-font-size);
    }
    &__social{
        display: inline-flex;
        column-gap: .75rem;

        &-link{
            font-size: 1rem;
            color: var(--text-color);
            transition: .3s;

            &:hover {
                transform: translateY(-.25rem);
            }
        }
    }
    &__cards{
        display: inline-flex;
        align-items: center;
        column-gap: .5rem;
    }
    &__card{
        width: 35px;
    }
    &__copy{
        text-align: center;
        font-size: var(--smaller-font-size);
        color: var(--text-color-light);
        margin: 5rem 0 1rem;
    }
}/*=============== HEADER ===============*/
.header{
    width: 100%;
    background-color: var(--body-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: .4s; // For animation dark mode
}

/*=============== NAV ===============*/
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo,
    &__toggle,
    &__close{
        color: var(--title-color);
    }
    &__logo{
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: -1px;
        display: inline-flex;
        align-items: center;
        column-gap: .5rem;
        transition: .3s;

        &:hover{
            color: var(--first-color);
        }

        &-icon{
            font-size: 1.15rem;
            color: var(--first-color);
        }
    }
    &__toggle{
        display: inline-flex;
        font-size: 1.25rem;
        cursor: pointer;
    }

    &__menu{
        @media screen and (max-width: 767px){
            position: fixed;
            background-color: var(--container-color);
            width: 80%;
            height: 100%;
            top: 0;
            right: -100%;
            box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, .1);
            padding: 4rem 0 0 3rem;
            border-radius: 1rem 0 0 1rem;
            transition: .3s;
            z-index: var(--z-fixed);
        }
    }
    &__close{
        font-size: 1.5rem;
        position: absolute;
        top: 1rem;
        right: 1.25rem;
        cursor: pointer;
    }
    &__list{
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
    }
    &__link{
        color: var(--title-color);
        font-weight: var(--font-medium);

        &:hover{
            color: var(--first-color);
        }
    }
}

/* Show menu */
.show-menu{
    right: 0;
}

/* Change background header */
.scroll-header{
    box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, .10);;
}

/* Active link */
.active-link{
    position: relative;
    color: var(--first-color);

    &::after{
        content: '';
        position: absolute;
        bottom: -.5rem;
        left: 0;
        width: 50%;
        height: 2px;
        background-color: var(--first-color);
    }
}/*=============== HOME ===============*/
.home{
    padding: 3.5rem 0 2rem;

    &__container{
        position: relative;
        row-gap: 2rem;
    }
    &__img{
        width: 200px;
        justify-self: center;
    }
    &__title{
        font-size: var(--big-font-size);
        line-height: 140%;
        margin-bottom: var(--mb-1);
    }
    &__description{
        margin-bottom: var(--mb-2-5);
    }
    &__social{
        position: absolute;
        top: 2rem;
        right: -1rem;
        display: grid;
        justify-items: center;
        row-gap: 3.5rem;

        &-follow{
            font-weight: var(--font-medium);
            font-size: var(--smaller-font-size);
            color: var(--first-color);
            position: relative;
            transform: rotate(90deg);

            &::after{
                content: '';
                position: absolute;
                width: 1rem;
                height: 2px;
                background-color: var(--first-color);
                right: -45%;
                top: 50%;
            }
        }
        &-links{
            display: inline-flex;
            flex-direction: column;
            row-gap: .25rem;
        }
        &-link{
            font-size: 1rem;
            color: var(--first-color);
            transition: .3s;

            &:hover {
                transform: translateX(.25rem);
            }
        }
    }
}/*=============== PRODUCTS ===============*/
.product{
    &__description{
        text-align: center;
    }
    &__container{
        padding: 3rem 0;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem 3rem;
    }
    &__card{
        display: grid;
        position: relative;

        &:hover .product__img{
            transform: translateY(-.5rem);
        }
    }
    &__img{
        position: relative;
        width: 120px;
        justify-self: center;
        margin-bottom: var(--mb-0-75);
        transition: .3s;
    }
    &__title,
    &__price{
        font-size: var(--small-font-size);
        font-weight: var(--font-semi-bold);
        color: var(--title-color);
    }
    &__title{
        margin-bottom: .25rem;
    }
    &__button{
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: var(--first-color);
        color: #FFF;
        padding: .25rem;
        border-radius: .35rem;
        font-size: 1.15rem;

        &:hover{
            background-color: var(--first-color-alt);
        }
    }
    &__circle{
        width: 90px;
        height: 90px;
        background-color: var(--first-color-lighten);
        border-radius: 50%;
        position: absolute;
        top: 18%;
        left: 5%;
    }
}/*=============== QUESTIONS ===============*/
.questions{
    background-color: var(--first-color-lighten);

    &__container{
        gap: 1.5rem;
        padding: 1.5rem 0;
    }
    &__group{
        display: grid;
        row-gap: 1.5rem;
    }
    &__item{
        background-color: var(--container-color);
        border-radius: .25rem;

        &:hover{
            box-shadow: 0 2px 8px hsla(var(--hue), 4%, 15%, .15);
        }
    }
    &__item-title{
        font-size: var(--small-font-size);
        font-weight: var(--font-medium);
    }
    &__icon{
        font-size: 1.25rem;
        color: var(--title-color);
    }
    &__description{
        font-size: var(--smaller-font-size);
        padding: 0 1.25rem 1.25rem 2.5rem;
    }
    &__header{
        display: flex;
        align-items: center;
        column-gap: .5rem;
        padding: .75rem .5rem;
        cursor: pointer;
    }
    &__content{
        overflow: hidden;
        height: 0;
    }
    &__item,
    &__header,
    &__item-title,
    &__icon,
    &__description,
    &__content{
        transition: .3s;
    }
}

/*Rotate icon and add font weight to titles*/
.accordion-open{
    & .questions__header,
    & .questions__content{
        background-color: var(--first-color);
    }
    & .questions__item-title,
    & .questions__description,
    & .questions__icon{
        color: #FFF;
    }
    & .questions__icon{
        transform: rotate(45deg);
    }
}/*=============== SCROLL UP ===============*/
.scrollup{
    position: fixed;
    background: var(--first-color);
    right: 1rem;
    bottom: -30%;
    display: inline-flex;
    padding: .5rem;
    border-radius: .25rem;
    z-index: var(--z-tooltip);
    opacity: .8;
    transition: .4s;

    &:hover{
        background-color: var(--first-color);
        opacity: 1;
    }

    &__icon{
        font-size: 1rem;
        color: #FFF;
    }
}

/* Show Scroll Up*/
.show-scroll{
    bottom: 3rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
    width: .6rem;
    background: hsl(var(--hue), 4%, 53%);

    &-thumb{
        background: hsl(var(--hue), 4%, 29%);
        border-radius: .5rem;
    }
}
/*=============== STEPS ===============*/
.steps{
    &__bg{
        background-color: var(--first-color);
        padding: 3rem 2rem 2rem;
        border-radius: 1rem;
    }
    &__container{
        gap: 2rem;
        padding-top: 1rem;
    }
    &__title{
        color: #FFF;
    }
    &__card{
        background-color: var(--container-color);
        padding: 2.5rem 3rem 2rem 1.5rem;
        border-radius: 1rem;

        &:hover .steps__card-number{
            transform: translateY(-.25rem);
        }

        &-number{
            display: inline-block;
            background-color: var(--first-color-alt);
            color: #FFF;
            padding: .5rem .75rem;
            border-radius: .25rem;
            font-size: var(--h2-font-size);
            margin-bottom: var(--mb-1-5);
            transition: .3s;
        }
        &-title{
            font-size: var(--h3-font-size);
            margin-bottom: var(--mb-0-5);
        }
        &-description{
            font-size: var(--small-font-size);
        }
    }
}
/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root{
    --header-height: 3.5rem; // 56px

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --hue: 152;

    --first-color: hsl(var(--hue), 24%, 32%);
    --first-color-alt: hsl(var(--hue), 24%, 28%);
    --first-color-light: hsl(var(--hue), 24%, 66%);
    --first-color-lighten: hsl(var(--hue), 24%, 92%);
    --title-color: hsl(var(--hue), 4%, 15%);
    --text-color: hsl(var(--hue), 4%, 35%);
    --text-color-light: hsl(var(--hue), 4%, 55%);
    --body-color: hsl(var(--hue), 0%, 100%);
    --container-color: #FFF;

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Poppins', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    // Responsive typography
    @media screen and (min-width: 968px){
        --big-font-size: 3.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}/*=============== REUSABLE CSS CLASSES ===============*/
.section{
    padding: 5.5rem 0 1rem;

    &__title, &__title-center{
        font-size: var(--h2-font-size);
        margin-bottom: var(--mb-2);
        line-height: 140%;
        
        &-center{
            text-align: center;
        }
    }
}

.container{
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
}

.main{
    overflow: hidden; // For animation
}