<div class="faqs-wrapper">
  
    <div class="faq" id="faq1">
      <input type="checkbox" class="toggle"/>
      <h1 class="question">Nosso software é responsivo?</h1>
      <div class="chevron">
        <span class="line1"></span>
        <span class="line2"></span>
      </div>
      <div class="content">
          <p class="answer">Sim, o software é totalmente responsivo, adaptando-se perfeitamente a diferentes dispositivos e tamanhos de tela.</p>
      </div>
    </div>
    <div class="faq" id="faq1">
        <input type="checkbox" class="toggle"/>
        <h1 class="question">O software terá uma versão mobile?</h1>
        <div class="chevron">
          <span class="line1"></span>
          <span class="line2"></span>
        </div>
        <div class="content">
            <p class="answer">Sim, uma versão móvel está disponível para download nas principais lojas de aplicativos, garantindo acesso conveniente em dispositivos móveis.</p>
        </div>
      </div>
      <div class="faq" id="faq1">
        <input type="checkbox" class="toggle"/>
        <h1 class="question">O software é gratuito?</h1>
        <div class="chevron">
          <span class="line1"></span>
          <span class="line2"></span>
        </div>
        <div class="content">
            <p class="answer">Sim, o nosso software e totalmente gratuito.</p>
        </div>
      </div>
    <div class="faq" id="faq1">
      <input type="checkbox" class="toggle"/>
      <h1 class="question">O software é de fácil entendimento?</h1>
      <div class="chevron">
        <span class="line1"></span>
        <span class="line2"></span>
      </div>
      <div class="content">
          <p class="answer">Sim, o software foi projetado com uma interface intuitiva e fácil de entender, proporcionando uma experiência de usuário fluida para todos os níveis de habilidade.</p>
      </div>
    </div>
    
  </div>