<app-navbar></app-navbar>
<app-space></app-space>
<div class="container-fluid">
    <h1 class="mt-4">Projetos</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"><div class="consultaw">Consulta</div></li>
    </ol>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
                {{ mensagemSucesso }}
            </div>
            <div class="alert alert-danger" role="alert"  *ngIf="mensagemErro">
                {{ mensagemErro }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-primary" (click)="novoCadastro()">
                <fa-icon [icon]="faPlus"></fa-icon> Novo
            </button>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Descrição" [(ngModel)]="descricaoFiltro" (input)="filtrarProjetos()">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Cliente</th>
                            <th>Serviços</th>
                            <th>
                                Data Inicial
                                <button (click)="ordenarProjetos('dataInicial')" class="btn btn-link p-0 ml-2">
                                    <fa-icon class="whitef" [icon]="faFilter"
                                        [ngClass]="{'fa-sort-asc': orderAscDataInicial, 'fa-sort-desc': !orderAscDataInicial}">
                                    </fa-icon>
                                </button>
                            </th>
                            <th>
                                Data Final
                                <button (click)="ordenarProjetos('dataFinal')" class="btn btn-link p-0 ml-2">
                                    <fa-icon class="whitef" [icon]="faFilter"
                                        [ngClass]="{'fa-sort-asc': orderAscDataFinal, 'fa-sort-desc': !orderAscDataFinal}">
                                    </fa-icon>
                                </button>
                            </th>
                            <th>Valor Total</th>
                            <th>Descrição</th>
                            <th>Situação</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let projeto of projetosFiltrados" [ngClass]="getRowClass(projeto)">
                            <td>{{ getClienteNomeById(projeto.idClientes) }}</td>
                            <td>{{ getServicoDescricaoById(projeto.idServicos) }}</td>
                            <td>{{ projeto.data }}</td>
                            <td>{{ projeto.dataFinal }}</td>
                            <td>{{ projeto.valor }}</td>
                            <td>{{ projeto.descricao | slice:0:5 }}</td>
                            <td>{{ projeto.situacao }}</td>
                            <td>
                                <button class="btn btn-primary btn-sm" [routerLink]="['/projeto', projeto.id]">
                                    <fa-icon [icon]="faPencil"></fa-icon> Editar
                                </button>
                                <span style="margin: 0 5px;"></span>
                                <button class="btn btn-danger btn-sm" (click)="preparaDelecao(projeto)" data-toggle="modal"
                                    data-target="#modalDelecao">
                                    <fa-icon [icon]="faTrash"></fa-icon> Excluir
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="modalDelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmação</h4>
                </div>
                <div class="modal-body" *ngIf="projetoSelecionado">
                    Confirma a deleção do serviço {{ projetoSelecionado.descricao }}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" (click)="deletarProjeto()">
                        Confirmar
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
