<body>
    <app-space></app-space>
    <div class="wrapper">
        <div class="form-box login">
            <h2>Esqueceu sua Senha?</h2>
            <form action="#">
                <div class="input-box">
                    <input type="text" required>
                    <label>CPF</label>
                </div>
                <div class="input-box">
                    <input type="password" required>
                    <label>Senha</label>
                </div>
                <button type="submit" class="btn">Editar</button>
                <div class="login-register">
                    <p><a href="./Cadastro.html" class="register-link" id="registerLink">Voltar para tela de Login</a></p>
                </div>
            </form>
        </div>    
    </div>
</body>
